<h2>생일 알림 <small><%= @favorite_list.length %>명</small></h2>
<div class="clearfix">
<% @favorite_list.each do |fav| %>
  <%= render 'characters/simple_tile', character: fav, date: @today %>
<% end %>
</div>
