/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*
 *= require metro.css
 *= require metro-icons.css
 *= require_tree .
 */
.tile-content.tile-content-character {
  img {
    width: 50%;
    float: left;
    height: 150px;

    margin: 0;
    padding: 0;
    border: 1px #1e1e1e solid;
  }

  .data-wrapper {
    width: 50%;
    float: right;
    padding: 5px;

    span {
      display: block;
      padding-bottom: 5px;
    }
  }
  .data-title {
    font-size: 1.2em;
  }
  .data-text {
  }
  .data-subtitle {
  }
}
